# Python
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Node.js
node_modules/

# IDEs and editors (e.g., VSCode, PyCharm, Sublime)
.vscode/
.idea/

# MacOS Finder
.DS_Store

# Windows-specific files
Thumbs.db

# Log files
*.log

# Data files (Optional, can be used to avoid tracking large data files)
# Ignore all contents inside specific directories
data/similarity_outputs/*.*
data/o_net_files/*.*

# Ignore all .db, .json, and .zip files inside annotations_scenario_1/
data/annotations_scenario_1/*.db
#data/annotations_scenario_1/*.json
data/annotations_scenario_1/*.xlsx


# Ignore .zip files inside annotations_scenario_1/ and ALL subdirectories
data/annotations_scenario_1/**/*.zip

# Ragatoullie
.ragatouille/
